
div:nth-child(n+2){
    background-color: white;
    border: 0.125rem solid;
    border-radius: 0.125rem; 
    padding: 0.5em 1rem;
    margin-bottom: 0.5rem;
    box-shadow: 1px -1px teal;
}
input{
    margin: 0.5rem 0.5rem 0.5rem 0;
}
div:nth-child(1){
    margin-bottom: 4rem;
}
body{
    background-color: #d5d5d5;
}